.container{
    background-image: url("paris.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-width: inherit;
    padding: 1%;
    overflow-y: hidden;
}

.plato-title{
    font-size: 1.7em;
    text-align: left;
}

.plato-description{
    text-align: justify;
    font-size: 0.8em;
}

.plato-precio{
    text-align: right;
    width: 100%;
    display: block;
}

.container > .row{
    margin: 0;
}

.main-container{

    height: 44vh;
    padding: 1%;
    border-radius: 10px;
}

.main-container > .row{
    margin: 0;
}

.center{
    text-align: center;
}

.no-margin{
    margin:0;
}

.mesa-bg{
    height: inherit;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
}

.menu-container{
    height: -webkit-fill-available;
    overflow-y: auto;
    color: floralwhite;
}

.helper-container{
    height: -webkit-fill-available;
}

.mascarade{
    height: inherit;
    width: 96%;
    z-index: 9999;
    background-color: coral;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    right: 2%;
    border-radius: 10px
}

.mybutton{
    height: 100%;
    color: floralwhite;
    border-color: transparent;

}

.mybutton:focus{
    outline:0 !important;
    box-shadow: none !important;
}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0);
    position: absolute;
    opacity: 1;
    z-index: 99999;
}
.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}

.plato-img{
    padding: 2%;
}

.plato-container{
    padding: 2%;
}

.plato-img > img{
    width: 100%;
    height: 100%;
}

.puesto{
    position:absolute;
    display: block;
    top: 0.5em;
    right: 0.5em;
    font-size: 10vh;
    color: floralwhite;
    font-weight: 100;
    font-family: Helvetica;
}

.mensaje{
    position:absolute;
    display: block;
    top: 32%;
    right: 25%;
    font-size: 10vh;
    color: floralwhite;
    font-family: Helvetica;
}

.reloj{
    position:absolute;
    display: block;
    top: 0.5em;
    left: 0.5em;
    font-size: 4vh;
    color: floralwhite;
    font-family: Helvetica;
}

.no-padding{
    padding: 0 !important;
}